# vim
*.swp
*.swo

# build files
*.gmo
*.moc
*.so
*.so.0
*.so.0.0
*.so.0.0.0
*.cmake
*.cxx
Makefile
CMakeFiles/
CMakeCache.txt

config.h
data/gschemas.compiled
install_manifest.txt
launcher/app/launcheradaptor.cpp
launcher/app/launcheradaptor.h
launcher/app/libuqlauncher.a
launcher/app/unity-2d-launcher
launcher/app/unity-2d-launcher.service
launcher/tests/launcherviewtest
libunity-2d-private/Unity2d/launchermenu/launchermenu.qrc.depends
libunity-2d-private/src/unity-2d-private.pc
libunity-2d-private/tests/config-test.h
libunity-2d-private/tests/gconnectortest
libunity-2d-private/tests/gnomesessionclienttest.sh
libunity-2d-private/tests/gnomesessionclienttesthelper
libunity-2d-private/tests/gnomesessionclienttesthelper.desktop
libunity-2d-private/tests/keyboardmodifiersmonitortest
libunity-2d-private/tests/launchermenutest
libunity-2d-private/tests/listaggregatormodeltest
libunity-2d-private/tests/locale/
libunity-2d-private/tests/mouseareademo
libunity-2d-private/tests/paneltest
libunity-2d-private/tests/qsortfilterproxymodeltest
libunity-2d-private/tests/unity2dtrtest
panel/app/unity-2d-panel
places/app/dashadaptor.cpp
places/app/dashadaptor.h
places/app/unity-2d-places
places/app/unity-2d-places.service
spread/app/spreadadaptor.cpp
spread/app/spreadadaptor.h
spread/app/unity-2d-spread
spread/app/unity-2d-spread.service
